@import 'tailwindcss';

@theme {
  --color-dark-grey: #626f86;
  --color-light-grey: #d3d3d3;
  --color-dark-blue: #172b4d;
  --color-button-primary: #0c66e4;
  --color-button-secondary: #ffffff;
}

.btn-primay:disabled {
  @apply bg-gray-500;
  @apply cursor-not-allowed;
}
