@import 'tailwindcss';

@theme {
  --color-black: #000000;
  --color-light-grey: #d3d3d3;
  --color-button-primary: #0c66e4;
  --color-button-secondary: #ffffff;
  --color-white: #ffffff;
}

.btn-primay:disabled {
  @apply bg-gray-500;
  @apply cursor-not-allowed;
}
