@import 'tailwindcss';

@theme {
  --color-dark-grey: #626F86;
  --color-light-grey: #D3D3D3;
}

#root {
  margin: 0 auto;
  text-align: center;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
